<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Notebooks</title>
</head>
<body>

<header>
    <ul>
        <li><a href="/">Home (Login)</a></li>
        <li><a href="/users/register">User register</a></li>
        <li><a href="/users/profile">User profile</a></li>
        <li><a href="/notebooks">All notebooks</a></li>
        <li><a href="/notebooks/add">Add notebook</a></li>
    </ul>
    <h1>Hello user {{user.username}}</h1>
</header>
<hr>

<div>
{{{body}}}
</div>

</body>
</html>
