<form action="/notebooks/add" method="post">
    <input type="text" name="vendor" placeholder="vendor"><br>
    <input type="text" name="cpu" placeholder="cpu"><br>
    <input type="number" name="display" placeholder="display"><br>
    <button type="submit">Add</button>
</form>
